<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
    <title>Halux</title>
</head>

<body>
    <script>
        function expandNavBar() {
            document.getElementById("app-navbar").classList.toggle("responsive");
        }
    </script>
    
    <div class="navbar" id="app-navbar">
        <a class="active" href="/">Home</a>
        <a href="/logs">Logs</a>
        <a href="/devices">Devices</a>
        <a href="/dashboard">Dashboard</a>
        <a href="javascript:void(0);" class="icon" onclick="expandNavBar()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</body>

</html>