<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    {% include 'navbar.jinja' %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>