{% extends "base.jinja" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<style>
    body {
        background-color: #f2f2f2 !important;
    }
</style>

<div class="device">
    <select id="device-select">
        {% for d in data.devices %}
            <option value="/dashboard/{{ d.device_id }}">{{ d.device_name }}</option>
        {% endfor %}
    </select>
</div>

<div class="dashboard">

    <div class="section">
        <h2>DHT22</h2>
        <p>Temperature: <span id="temperature">{{ data.temperature }}°C</span></p>
        <p>Humidity: <span id="humidity">{{ data.humidity }}%</span></p>
    </div>

    <div class="section">
        <h2>Infrared</h2>
        <p>Lid State: <span class="{{ 'green-txt' if data.open == 1 else 'red-txt' }}">{{ 'Open' if data.open == 1 else 'Closed' }}</span></p>
        <p>Allowed To Open: <span class="{{ 'green-txt' if data.device.permission_state == 1 else 'red-txt' }}">{{ 'Allowed' if data.device.permission_state == 1 else 'Prohibited' }}</span></p>
    </div>

    <div class="section">
        <h2>Device Config</h2>
        <p>Password:</p>
        <div class="input-field">
            <input type="text" id="password" name="password" placeholder=" " value="{{ data.device.password }}" required>
            <label for="password">Sequence</label>
        </div>
        <p>Frequency:</p>
        <div class="input-field">
            <input type="text" id="frequency" name="frequency" placeholder=" " value="{{ data.frequency }}" required>
            <label for="frequency">Hertz</label>
        </div>
    </div>

</div>

<script>
    document.getElementById('device-select').addEventListener('change', function () {
        window.location.href = this.value;
    });

    document.querySelectorAll('.input-field input').forEach(input => {
        input.addEventListener('input', () => {
            input.setAttribute('placeholder', input.value ? ' ' : '');
        });
    });
</script>
{% endblock %}