{% extends "base.jinja" %}
{% block title %}{{ data.user.username }}{% endblock %}
{% block content %}
<form id="edit-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value='{{ data.user.username }}'>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value='{{ data.user.password }}'>
    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById('edit-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/edit_device', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                user_id: {{ data.user.user_id }},
            username,
            password,
            }),
        }).then(response => alert(response.ok ? 'User updated' : 'Error updating user'));
    });
</script>
{% endblock %}
