{% extends "base.jinja" %}
{% block title %}Logs{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Timestamp</th>
        <th>Topic</th>
        <th>Subtopic</th>
        <th>ID</th>
        <th>Operation</th>
        <th>Payload</th>
    </tr>
    {% for log in data.logs %}
    <tr>
        <td>{{ log.created_at }}</td>
        <td>{{ log.topic }}</td>
        <td>{{ log.subtopic }}</td>
        <td>{{ log.device_id }}</td>
        <td>{{ log.operation }}</td>
        <td>{{ log.payload }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}