<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">
    <title>Halux</title>
</head>

<body>
    <script>
        function expandNavBar() {
            document.getElementById("app-navbar").classList.toggle("responsive");
        }

        const socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('log', log => {
            console.log(log);
        });
    </script>

    <div class="navbar" id="app-navbar">
        <a class="active" href="/">Home</a>
        <a href="/logs">Logs</a>
        <a href="/devices">Devices</a>
        <a href="/dashboard">Dashboard</a>
        <a href="javascript:void(0);" class="icon" onclick="expandNavBar()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <table>
        <tr>
            <th>Timestamp</th>
            <th>Topic</th>
            <th>Subtopic</th>
            <th>ID</th>
            <th>Operation</th>
            <th>Payload</th>
        </tr>
        {% for log in data %}
        <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.topic }}</td>
            <td>{{ log.subtopic }}</td>
            <td>{{ log.id }}</td>
            <td>{{ log.operation }}</td>
            <td>{{ log.payload }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>