{% extends "base.jinja" %}
{% block title %}New User{% endblock %}
{% block content %}
<form id="edit-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value=''>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value=''>
    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById('edit-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/users/new_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                username,
                password,
            }),
        }).then(response => {
            if (response.ok) {
                window.location.href = '/users';
            } else {
                alert('Error creating user');
            }
        });
    });
</script>
{% endblock %}
